body {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

body, input {
  display: -webkit-flex;
  font-family: 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;
}

.time-text-label {
  font-size: 2rem;
  line-height: 1;
  margin: 100% 20% 0% 0%;
  color: #a3a3a3;
}

.time-count {
  color: white;
  margin: 0% 20% 0% 0%;
  font-size: 6rem;
  line-height: 1;
  font-weight: 600;
}

.quote-label {
  font-size: 1.2rem;
  line-height: 1;
  margin: 2% 0 0 0;
  font-style: italic;
  color: honeydew;
}
